{# accounts/consent.html #}
{% extends "page_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Participant Consent{% endblock %}
{% block page_title %}
    <span class="title">Participant Consent</span>
{% endblock page_title %}

{% block content %}
<p>In order to use information from the public in our research we require your consent. Please read the consent agreement and complete the form below to confirm your participation in the project. After this you will be taken to the survey questions page.</p>

<p>Thank you for your interest and participation in the project.</p>

<h4>Consent</h4>
<ol class="vavs-consent">
<li>I consent to be included in the project.</li>
<li>I confirm that the study has been explained to me and that I have had the opportunity to ask questions. Please contact either Simon Yuill or Beverley Skeggs if you have any questions/queries. You can reach them through our <a href="/contact/">contact</a> page.</li>
<li>I understand that my participation is voluntary and that I am free to withdraw at any time, without giving any reason.</li>
<li>I understand that the information I give in the interview will be confidential unless it is impossible to do so (via social media) and that I will remain anonymous where possible. If I prefer a pseudonym I will provide one.</li>
<li>I understand that confidentiality will be breached if I reveal matters that I later request to be withdrawn.</li>
<li>I agree that my interview(s) may be used by the researchers for the purposes of the research report, publications associated with the project, and the dissemination of research findings.</li>
<li>I agree for any interviews I give to be recorded if necessary.</li>
<li>I give my permission for the transcripts of the interviews to be stored by the research council database and understand that transcripts will not have my name attached, and all identifying material (such as names) will be changed or deleted.</li>
</ol>
{% crispy form %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$("img.captcha").click(function(){
    $.getJSON("{% url 'captcha-refresh' %}", {}, function(json) {
        $("img.captcha").attr("src", json["image_url"]);
        $("#id_captcha_0").attr("value", json["key"]);
    });

    return false;
});
</script>
{% endblock extra_js %}
