{# widgets/front_publication_widget.html #}
<section class="vavs-md-box vavs-hide-img">
<h3 class="vavs-item-header">
<a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
<div class="vavs-justify vavs-btm-12">Written by {{ item.authors }}</div>
<div class="vavs-justify vavs-btm-12">{{ item.description|safe|truncatewords_html:24 }}</div>
<p>
<a class="vavs-btn pull-left" href="{% url 'publications_index' %}">Publications</a>
<a class="vavs-btn pull-right" href="{{ item.link }}">Read more</a>
</p>
</section>
