{# emails/participation_confirmed.html #}{% extends "emails/email_base.html" %}
{% block content %}
<p style="font-size: larger; margin-bottom: 46px;">Dear {{ name }},</p>

<p style="text-align: justify;">Thank you for offering to participate in Values &amp; Value.</p>

<p style="text-align: justify;">Someone will be in touch with you soon to introduce you to the project.</p>

<p style="font-size: larger; margin-bottom: 46px; margin-top: 46px;">Yours sincerely,<br>
Values & Value</p>
{% endblock content %}
