{# flatpages/about.html #}
{% extends "page_base.html" %}

{% block title %}About the Project{% endblock %}

{% block page_title %}About the Project{% endblock page_title %}

{% block content %}
<p>There has been a great deal of interest in how capital has
intervened in almost every area of life, leading some to propose new
forms of capital e.g. ‘emotional capitalism’, and others to suggest
that processes of valuation are now the major method for
understanding the social world. Whilst, no doubt, capital behaves
according to its own logic, finding new lines of flight, converting
affects into value, making multi-culturalism marketable, generating
new forms of bio-capital, and making many of our actions subject to
the logic of calculation, this project asks if anything is left behind. Is
there anything that cannot be capitalized upon? Many social
theories reproduce the logic of capital. But if we only understand the
world from the perspective of this logic what do we miss seeing? Our
previous research projects have drawn attention to how values are
formed beyond value, unnoticed and unseen, producing new ways
of being and doing in the world, organized differently through spatial
and temporal co-ordinates. This project consolidates and expands
this analysis by exploring values (and their relationship to value)
through two limit cases that attempt to convert all values to value:
modern digital relations and traditional prosperity theology.</p>

<p>We are interested in what happens when economic value is accumulated from 
spheres previously considered non-economic, and the distortions and alterations 
in both economic and non-economic values this process creates. For instance, 
Facebook makes considerable economic gain from commodifying friendship through 
the algorithmic conversion of 'likes' into advertising sales. Does this process 
reconfigure the value of friendship? What happens to values such as loyalty and 
care in this conversion? Do friends capitalise upon their own value, such as 
generating authority from 'like' conversion?</p>

<p>Digital friendliness is conducted through rhythms of interaction driven by 
algorithms that artificially stimulate the intensity of exchange. Within this, 
affect is differently (digitally) co-present and authority is dispersed. Yet the 
encounter (technically and textually mediated by the design of the site) can be 
powerfully affective - people can be outraged and hurt by their digital 
encounters. What happens when everything they 'like' is ignored - attributed 
with no relational value? Value may be momentarily lost through one wrong 
sentence - but is this sustained over time? Is their person-value diminished or 
left intact?</p>

{% endblock %}

