{# flatpages/software.html #}
{% extends "page_base.html" %}

{% block title %}Reading{% endblock %}

{% block page_title %}Reading{% endblock page_title %}

{% block content %}
<article>
<p>We are building a reading list related to our <a href="/themes/">research themes</a>, if you have any suggestions of titles to add, please <a href="/contact/">contact us</a> and let us know.
</article>
<article>

<p>Abercrombie, N., Hill, S. and Turner, B. (1986). <i>Sovereign Individuals of Capitalism</i>, London: Allen and Unwin.</p>

<p>Adkins, L. and Lury, C. (1999). ‘The Labour of Identity: Performing Identities, Performing Economies’, <i>Economy and Society</i> 28(4. November): 598-614.</p>

<p>Adkins L. and Lury C. (eds) (2012). <i>Measure and Value.</i> Sociological Review Monograph Series. London. Wiley-Blackwell.</p>

<p>Ahmed, S., Kilby, J., Lury, C., McNeil, M. and Skeggs, B. (eds) (2000). <i>Transformations: Thinking Through Feminism</i>, London: Routledge.</p>

<p>Ahmed S. (2004). Affective Economies. <i>Social Text</i>, 79 (Volume 22, Number 2), pp. 117-139.</p>

<p>Allen, C. (2007). <i>Housing Market Renewal and Social Class</i>, London: Routledge.</p>

<p>Allen, K. and Taylor, Y. (2012). ‘Failed Femininities and Troubled Mothers: Gender and the Riots’, <i>BSA Blog</i>.</p>

<p>Altman, D. (1997). ‘Global Gaze/Global Gays’, <i>GLQ: A Journal of Lesbian and Gay Studies</i> 3: 417-36.</p>

<p>Amoore, L. (2009). ‘Algorithmic War: Everyday Geographies of the War on Terror’, <i>Antipode</i> 41(1): 49-69.</p>

<p>Anagnost, A. (2004). ‘The Corporeal Politics of Quality (Suzhi)’, <i>Public Culture</i> 16(2): 189-208.</p>

<p>Anderson, B. (2000). <i>Doing the Dirty Work? The Global Politics of Domestic Labour</i>. London: Zed.</p>

<p>Andrejevic, M. (2004). <i>Reality TV: the Work of Being Watched</i>, Oxford: Rowman and Littlefield.</p>

<p>Arditi, J. (1999). ‘Etiquette Books, Discourse and the Deployment of an Order of Things’, <i>Theory, Culture and Society</i> 16(4): 25-48.</p>

<p>Armstrong, N. (1987). <i>Desire and Domestic Fiction; A Political History of the Novel</i>, New York and Oxford: Oxford University Press.</p>

<p>Armstrong, N. and Tennenhouse, L. (eds) (1987). <i>The Ideology of Conduct: Essays in Literature and the History of Sexuality</i>, London: Methuen.</p>

<p>Arnot, M. (1979). ‘Cultural Reproduction: the Pedagogy of Sexuality’, <i>Screen Education</i> 32/33: 141-153.</p>

<p>Arvidsson, A. (2006). <i>Brands: Meaning and Value in Media Culture</i>, London: Routledge.</p>

<p>Arvidsson, A. (2012). ‘General Sentiment: How Value and Affect converge in the Information Economy’, <i>The Sociological Review</i> 59(2): 39-60.</p>

<p>Atkinson, W., Roberts, S. and Savage, M. (eds) (2012). <i>Class Inequality in Austerity Britain: Power, Difference and Suffering</i>, Basingstoke: Palgrave/Macmillan.</p>

<p>Back, L. (1996). ‘New Ethnicities and Urban Culture: Racism and Multi-Culture in Young Lives’.</p>

<p>Back, L. (2004). ‘Inscriptions of Love’, in H. Thomas and J. Ahmed (eds) <i>Cultural Bodies Ethnography and Theory</i>, Oxford: Blackwell Publishing.</p>

<p>Back, L. (2007). <i>The Art of Listening</i>, Oxford: Berg.</p>

<p>Back, L., Cohen, P. and Keith, M. (1999). ‘Between Home and Belonging: Critical Ethnographies of Race, Place and Identity’, London: Centre for New Ethnicities Research, Goldsmiths, University of London.</p>

<p>Back L. and Puwar N. (eds) (2013). <i>Live Methods.</i> Sociological Review Monograph Series. London: Wiley-Blackwell.</p>

<p>Bailey, P. (1990). ‘Parasexuality and Glamour: The Victorian Barmaid as Cultural Prototype’, <i>Gender and History</i> 2(3): 148-72.</p>

<p>Bailey, P. (1998). <i>Popular Culture and Performance in the Victorian City</i>, Cambridge: Cambridge University Press.</p>

<p>Bakhtin, M. (1984). <i>Rabelais and his World</i>, Bloomington: Indiana University Press.</p>

<p>Bales, M. (2000). <i>Disposable People: New Slaveryin the Global Economy</i>, Berkeley: University of California Press.</p>

<p>Balibar, E. (1999). ‘Class Racism’, in R. D. Torres, Miron, L.F. and Inda, J. X. (ed) <i>Race, Identity and Citizenship: A  Reader</i>, Oxford: Blackwell.</p>

<p>Balibar, E. and Wallerstein, I. (1991). <i>Race, Nation and Class: Ambiguous Identities</i>, London: Verso.

<p>Ball, S. (2003). <i>Class Strategies and the Education Market: The Middle-Classes and Social Advantage</i>, London: RoutledgeFalmer.</p>

<p>Barrett, M. (1988). <i>Women’s Oppression Today: The Marxist Encounter</i>, London: Verso.</p>

<p>Barrett, M. and McIntosh, M.  (1982). <i>The Anti-Social Family</i>, London: Verso/NLB.</p>

<p>Bassi, C. (2010). ‘It’s New but not that New":On the Continued Use of Old Marx’, <i>Feminist Legal Studies</i> 18(1): 69-76.</p>

<p>Beechey, V. (2077 ‘Some notes on Wage Labour in Capitalist Production’, <i>Capital and Class</i> 3: 45-66.</p>

<p>Bennett, J. (2001 <i>The Enchantment of Modern Life: Attachments, Crossings and Ethics</i>, Princeton and Oxford: Princeton University Press.</p>

<p>Bennett, T. (2003). ‘The Invention of the Modern Cultural Fact: Toward a Critique of the Critique of Everyday Life’, in E. B. Silva and T. Bennett (eds) <i>Contemporary Culture and Everyday Life</i>, Durham: Sociology Press.</p>

<p>Bennett, T. (2011). ‘Culture, Choice, Necessity: A Political Critique of Bourdieu’s Aesthetic’, <i>Poetics</i> 39(6): 530-546.</p>

<p>Berlant, L. (1997). <i>The Queen of America Goes to Washington City: Essays on Sex and Citizenship.</i> Durham and London, Duke University Press.</p>

<p>Berlant, L. (2006). “Cruel Optimism.” <i>Differences: A Journal of Feminist Cultural Studies</i> 17(3): (20-36.</p>

<p>Berlant, L. (2007). “Slow Death (Sovereignty, Obesity, Lateral Agency).” <i>Critical Inquiry</i> 33(4): 754-780.</p>

<p>Berlant, L. (2008). <i>The Female Complaint: The Unfinished Business of Sentimentality in American Culture.</i> London and Durham, Duke University Press.</p>

<p>Bernstein, B. (1971). <i>Class, Codes and Control.</i> London, Routledge and Kegan Paul.</p>

<p>Bernstein, E. (2007). <i>Temporarily Yours: Intimacy, Authenticity and the Commerce of Sex.</i> Chicago, University of Chicago Press.</p>

<p>Bhatt, C. (2006). “The Fetish of the Margins: Religious Absolutism, Anti-Racism and Poscolonial Silence.” <i>New Formations.</i></p>

<p>Blackman, L. (2007). “Reinventing Psychological Matters: The Importance of the Suggestive Realm of Tarde's Ontology.” <i>Economy and Society</i> 36(4): 574-596.</p>

<p>Blackman, L. (2008). “Affect, Relationality and the Problem of Personality.” <i>Theory, Culture and Society</i> 25(1): 27-51.</p>

<p>Blackman, L. (2011). “'This is a Matter of Pride': The Choir, Unsung Town and Community Transformation.” <i>Reality Television and Class.</i> B. Skeggs and H. Wood. London, BFI/Palgrave.</p>

<p>Boal, I., Clarke, T.J.,Matthews, J., Watts, M. (2005). <i>Afflicted Powers: Capital and Spectacle in a New Age of War.</i> London and New York, Verso.</p>

<p>Boltanski, L. and E. Chiapello (2005). <i>The New Spirit of Capitalism.</i> London, Verso.</p>

<p>Boltanski, L. and L. Thevenot (2006). <i>On Justification: The Economies of Worth.</i> Princeton, NJ, Princeton.</p>

<p>Bonnett, A. (1998). “How the British Working Class became White: the Symbolic (Re) formation of Racialised Capitalism.” <i>Journal of Historical Sociology</i> 11: 316-340.</p>

<p>Bourdieu, P. (1979). “Symbolic Power.” <i>Critique of Anthropology</i> 4: 77-85.</p>

<p>Bourdieu, P. (1987). “What Makes a Social Class? On the Theoretical and Practical Existence of Groups.” <i>Berkeley Journal of Sociology</i> 23(1): 1-17.</p>

<p>Bourdieu, P. (2000). <i>Pascalian Meditations.</i> Cambridge, Polity.</p>

<p>Brenner, J. and M. Ramas (1984). “Rethinking Women's Oppression.” <i>New Left Review</i> 144: 33-72.</p>

<p>Breugel, I. (1979). “Women as a Reserve Army of Labour.” <i>Feminist Review</i> 3: 12-23.</p>

<p>Brody, D. (1998). <i>Impossible Purities:Blackness, Femininity and Victorian Culture.</i> Durham, Duke University Press.</p>

<p>Brown, W. (1995). <i>States of Injury.</i> Princeton, Princeton University Press.</p>

<p>Buckner, L. and S. Yeandle (2011). <i>Valuing Carers: Calculating the Value of Carers’ Support.</i> Leeds University: Carers UK: 15.</p>

<p>Burrows, R. (2012). “Living with the h-index? Metric assemblages in the contemporary academy.” <i>The Sociological Review</i> 60(2): 355-372.</p>

<p>Butler, J. (1997). “Merely Cultural.” <i>Social Text</i> 52/53 15(3&4): 264-277.</p>

<p>Butler, J. (1999). <i>Performativity's Social Magic. Bourdieu: A Critical Reader.</i> R. Shusterman. Oxford, Blackwell: 113-129.</p>

<p>Butler, J. (2006). <i>Precarious Life: The Power of Mourning and Violence.</i> London, Verso.</p>

<p>Castree, N. (1996/7). “Invisible Leviathan: Speculations on Marx, Spivak, and the Question of Value.” <i>Rethinking Marxism</i> 9(2): 45-78.</p>

<p>Chakrabarty, D. (2000). <i>Provincializing Europe: Postcolonial Thought and Historical Difference.</i> Princeton and Oxford, Princeton University Press.</p>

<p>Charlesworth, S. (2000). <i>A Phenomenology of Working Class Experience.</i> Cambridge, Cambridge University Press.</p>

<p>Cleaveland, C. (2005). “A Desperate means to Dignity: Work Refusal amongst Philadelphia Welfare Recipients.” <i>Ethnography</i> 6(35): 35-60.</p>

<p>Clough Ticineto, P., et al. (2007). “Notes Towards a Theory of Affect Itself.” <i>Ephemera: Theory and Politics in Organisation</i> 7(1).</p>

<p>Cohen, G. A. (1995). <i>Self-Ownership, Freedom and Equality.</i> Cambridge, Cambridge University Press.</p>

<p>Cohen, P. F. (1997). “'All They Need: Aids, Consumption and the Politics of Class'.” <i>Journal of the History of Sexuality</i> 8(1): 86-115.</p>

<p>Coleman, S. (2000). <i>The Globalisation of Charismatic Christianity: Spreading the Gospel of Prosperity.</i> Cambridge, Cambridge Univesity Press.</p>

<p>Connor, S. (1993). <i>The Necessity of Value. Principled Positions: Postmodernism and the Rediscovery of Value.</i> J. Squires. London, Lawrence and Wishart: 31-50.</p>

<p>Cook, J. (2000). <i>Culture, Class and Taste. Cultural Studies and the Working Class: Subject to Change.</i> S. Munt. London, Cassell: 97-113.</p>

<p>Coward, R. and J. Ellis (1977). <i>Language and Materialism.</i> London, RKP.</p>

<p>Cronin, A. (2002). “The Substance of Consumption: Alchemy, Addiction and the Commodity.” <i>International Journal of Cultural Studies</i> 5(3): 316-335.</p>

<p>Gajjala R., Cole C.L. and and the Femtechnet Collective (2013). <i>Cyberfeminists remodel MOOCs: DOCC as Feminist Pedagogy, Learning and Distribution of Knowledge FemTechNet’s Distributed Open Collaborative Courses (DOCC).</i> <br/><a href="http://www.slideshare.net/cyberdivalive/presentation-for-httpwwwjiscrscacukyhonlineconference2013aspx">http://www.slideshare.net/cyberdivalive/presentation-for-httpwwwjiscrscacukyhonlineconference2013aspx</a></p>

<p>Hong G.H. (2006). <i>The Ruptures of American Capital: Women of Colour Feminism and the Culture of immigrant labour.</i> Minneapolis: University of Minnesota Press.</p>

<p>Lury C. and Wakeford N. (eds) (2012). <i>Inventive Methods: The Happening of the Social.</i> Abingdon: Routledge.</p>

<p>Skeggs B. (2007). <i>Formations of Class and Gender: Becoming Respectable.</i> Theory, Culture and Society series. London: Sage.</p>

<p>Skeggs B. (2004). <i>Class, Self, Culture.</i> Abingdon: Routledge.</p>

<p>Skeggs B. (2011). Imagining Personhood Differently: Person Value and Autonomist Working-Class Value Practices. <i>The Sociological Review,</i> 59(3), pp. 496-513.</p>

<p>Skeggs B. (2010). The Value of Relationships: Affective Scenes and Emotional Performances. <i>The Sociological Review,</i> 18(1), pp. 29-51.</p>

<p>Skeggs B. (2004). Exchange, value and affect: Bourdieu and ‘the self’. <i>The Sociological Review,</i> 52, pp. 75–95.</p>

<p>Skeggs B. and Wood H. (2012) <i>Reacting to Reality Television: Performance, Audience and Value.</i> Abingdon: Routledge.</p>

<p>Zizek, S. (2002). ‘Are we in a War? Do we have an Enemy?’, <i>London Review of Books</i> (23 May (2002): 3-6.</p>

<p>Zizek, S. (1997). ‘Multiculturalism, or, the Cultural Logic of Multinational Capitalism’, <i>New Left Review</i> 225: 28-52.</p>

<p>Zelizer, V. A. (2005). <i>The Purchase of Intimacy</i>, Princeton: Princeton University Press.</p>

</article>
{% endblock %}
